.flex{
    display: flex;
    flex-direction: column;
}

.padding-top{
    padding-top: 50px;
}

.text-size2{
    font-size: 8px;
}
.text-size3{
    font-size: 20px;
}

.r-margin-bottom{
    margin-bottom: 0px;
}

.text-col{
    color: #fff;
}

.pad-left{
    padding-left: 40px;
}

.margin{
    margin-left: 20%;
    margin-right: 20%;
}

.text-align{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.font-fam{
    font-family: Helvetica;
}

.bluetoothBlue {
    color: blue;
}