.flex{
    display: flex;
    flex-direction: column;
}

.text-size2{
    font-size: 70%;
}
.text-size3{
    font-size: 100%
}

.r-margin-bottom{
    margin-bottom: 0px;
}

.text-col{
    color: #fff;
}


.text-align{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.font-fam{
    font-family: 'Helvetica', sans-serif;
}

.inner_dim{
    width: 60vw;
    height: 60vh;
}

.bluetoothBlue {
    color: blue;
}

.comp_size{
    width: 100vm;
    height: 100vh;
}