@import url("https://fonts.googleapis.com/css2?family=04b03:wght@400&display=swap");
@font-face {
  font-family: "04b03";
  src: url("/public/04B_03__.TTF");
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
